@model EcmMobileShop.Models.tb_SANPHAM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/OneTechAdmin/Views/Shared/_layoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tb_SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTaSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePathMain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePathMain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_HANGSP.TenHangSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_HANGSP.TenHangSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_LOAISP.TenLoaiSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_LOAISP.TenLoaiSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdSP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
